{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 80px);">
    <div class="card shadow p-4 border-0 rounded-4 text-center" style="max-width: 400px; width: 100%">
        <h1 class="bold">{{ _("Register") }}</h1>
        <form action="{% url 'register' %}" method="post" novalidate>
            {% csrf_token %}
            
            <!-- First & Last Name Fields -->
            <div class="row g-2">
                <div class="col">
                    <input type="text" name="first_name" id="first_name" class="form-control border-secondary" placeholder="{{ _("First name") }}" value="{{ form.first_name.value }}">
                </div>
                {% if form.first_name.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.first_name.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="col">
                    <input type="text" name="last_name" id="last_name" class="form-control border-secondary" placeholder="{{ _("Last name") }}" value="{{ form.last_name.value }}">
                </div>
                {% if form.last_name.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.last_name.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <!-- Username Field -->
            <div class="input-group mt-2">
                <span class="input-group-text border-secondary">
                    <i class="bi bi-person"></i>
                </span>
                <input type="text" name="username" id="username" class="form-control border-secondary" placeholder="{{ _('Username') }}" value="{{ form.username.value }}">
            </div>
            {% if form.username.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.username.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            
            <!-- Email Field -->
            <div class="input-group mt-2">
                <span class="input-group-text border-secondary">
                    <i class="bi bi-envelope"></i>
                </span>
                <input type="email" name="email" id="email" class="form-control border-secondary" placeholder="{{ _('Email') }}" value="{{ form.email.value }}">
            </div>
            {% if form.email.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            
            <!-- Password Fields -->
            <div class="input-group mt-2">
                <span class="input-group-text border-secondary">
                    <i class="bi bi-asterisk"></i>
                </span>
                <input type="password" name="password1" id="password1" class="form-control border-secondary" placeholder="{{ _('Password') }}">
            </div>
            {% if form.password1.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.password1.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="input-group mt-2">
                <span class="input-group-text border-secondary">
                    <i class="bi bi-asterisk"></i>
                </span>
                <input type="password" name="password2" id="password2" class="form-control border-secondary" placeholder="{{ _('Confirm password') }}">
            </div>
            {% if form.password2.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.password2.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            
            <!-- Register Button -->
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">{{ _("Register") }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
