{% extends "base.html" %}
{% load i18n %}
{% load markdown_filters %}

{% block title %}{% trans "Remove item" %}{% endblock %}

{% block content %}
{% with comment as item %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h3>{% trans "Remove this item?" %}</h3>
      <p class="pb-3">{% trans "Click on the remove button to delete the following item:" %}</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="comment d-flex align-items-start">
            {%load avatar_tags%}
            {% avatar item.author 48 class="me-3" %}
            <div class="d-flex flex-column">
              <span class="text-muted" style="font-size: 0.8rem;">
                {{ item.timestamp|date:"N j, Y, P" }} -
                {{ item.author.first_name }} {{ item.author.last_name }}
              </span>
              <div class="content">
                <p class="py-2">{{ item.text | markdown | safe }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <form action="." method="post" class="text-center my-5">
        {% csrf_token %}
        <button type="submit" name="submit" class="btn btn-danger">{% trans "Remove" %}</button>
          <a class="btn btn-secondary" href="{% url 'ticket_detail' ticket_id %}">{% trans "Cancel" %}</a>
      </form>
    </div>
  </div>
</div>
{% endwith %}

<style>
  .content img {
    max-width: 100%;
    height: auto;
  }
</style>
{% endblock %}
