{% load markdown_filters %}
{% load avatar_tags %}
{% block content %}
<div id="r{{ reply.id }}" class="d-flex align-items-start ms-5">
  <a id="r{{ reply.id }}"></a>
  {% avatar reply.author 48 class="me-3" %}
  <div class="media-body">
    <div class="reply pb-3">
      <h6 class="mb-1 small">
        <span>
          {{ reply.author.get_full_name }}
          &nbsp;-&nbsp; {{ reply.timestamp|timesince }} ago
        </span>
      </h6>
      <div class="content">{{ reply.text | markdown | safe }}</div>
      <div class="mt-2">
        <div class="reply-actions">
          <form method="get" action="{% url 'delete_reply' reply.id %}" class="inline-form">
            {% csrf_token %}
            {% if reply.author == user %}
            <button type="submit" class="btn btn-danger btn-sm">{{ _("Delete") }}</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
