{% extends "base.html" %}

{% block title %}{{ _("Edit Ticket") }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 80px);">
    <div class="card shadow p-4 border-0 rounded-4" style="max-width: 500px; width: 100%">
        <h1 class="text-center mb-4 bold">{{ _("Edit Ticket") }}</h1>
        <h3 class="text-center"> {{ ticket.title|safe }} </h3>

        <!-- Display all form errors -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Description Field (Read-only for edit) -->
        <div class="mb-4">
            <label for="description" class="form-label">{{ _("Description") }}</label>
            <div class="p-3 border-secondary rounded ticket-description">{{ ticket.description|safe }}</div>
        </div>

        <form action="" method="post" novalidate>
            {% csrf_token %}

            <div class="ticket-form">
                {{ form.as_p }}
            </div>

            <!-- Submit Button -->
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-success rounded-3">{{ _("Submit Ticket") }}</button>
            </div>
        </form>
    </div>
</div>

<script>
    status_element = document.getElementById("id_status")
    ticket_resolved_at_div = document.getElementById("ticket-resolved_at")
    datetime_input = document.getElementById("id_resolved_at")

    function convertToISO(date) {
        const timezoneOffset = date.getTimezoneOffset() * 60000;
        const localDateTime = new Date(date - timezoneOffset);

        return localDateTime.toISOString().slice(0,16)
    }

    function initializeResolvedAt() {
        if(status_element.value == "resolved") {
            ticket_resolved_at_div.style.display = "block"

            const now = new Date()

            datetime_input.value = convertToISO(now)
        } else {
            ticket_resolved_at_div.style.display = "none"
            datetime_input.value = ''
        }
        
    }

    status_element.addEventListener('change', function () {
        initializeResolvedAt()
    })

    window.addEventListener('load', function () {
        /* If the status is already resolved, we do not want to
        * Override the previous datetime. Just make it visible
        */
        if(status_element.value == "resolved") {
                ticket_resolved_at_div.style.display = "block"
        } else {
            initializeResolvedAt()
        }
    })
</script>
{% endblock %}
